<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/title.ejs') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

    <!--FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <!--CSS FILE-->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="acctMgt.css">
   
    <!--BOOTSTRAP REFERENCE-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <!--- NAVIGATION BAR --->

        <div class="navbar">
                <p><a href = "/"><img src="img/logo.png" width="460" height="90" ></p></a>
                    <ul>
                        <strong>
                            <a href="/"><li>HOME</li></a>
                            <a href="/adminFprofile"><li>FITNESS PROFILE</li></a>
                            <a href="/adminFlog"><li>FITNESS LOG</li></a>
                            <a href="/signIn"><li style="color: #af241a;">ACCOUNT</li></a>
                        </strong>
                        
                    </ul>
        </div>
    <!--Main Page Content-->
    <div class="background">
        <main>
          <form id="reg-form">
          <div class="save-acct">
            <button id="btn" type="submit">SAVE ACCOUNTS</button>
        </div>
        <section class="mgt-sec">
    
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Type of Account</th>
                        <th>Section</th>
                        <th>Username</th>
                        <th>@Email</th>
                        <th>Password</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                  <% for(var i = 0; i < users.length; i++) { %>
                    <tr>
                        <td>
                          <% if (users[i].type) { %>
                            <select class="select">
                            <option><%= users[i].type %></option>
                          </select>
                          <% } %>
                       
                        </td>
                        <td>
                          <select class="select">
                            <option value="type0"></option>
                            <option value="type1">3ISA</option>
                            <option value="type2">3ISB</option>
                         </select>
                        </td>
                        <td>
                          <input type="text" class="input" value="<%= users[i].username %>">
                        </td>
                        <!--<td><%= users[i].email %></td>-->
                        <td>                
                          <input type="text"value="<%= users[i].email %>">
                          </td>
                        <td>                
                        <input type="password" value="<%= users[i].password %>">
                    </td>
                        <td>
                          <button type="button" id="<%= users[i]._id %>"  onclick="deleteUser(event)" class="btn btn-danger" name="remove">DELETE ACCOUNT</button>  
                        </td>
                    </tr>
                    <% } %>
                </tbody>
                <form id="reg-form">
                <tr>
                  <td>
                    <select class="select"  id="type-options">
                      <option value="Student">Student</option>
                      <option value="Admin">Admin</option>
                    </select>
                  </td>
                  <td>
                    <select class="select">
                      <option value="type0"></option>
                      <option value="type1">3ISA</option>
                      <option value="type2">3ISB</option>
                   </select>
                  </td>
                  <td>
                    <input type="text" class="input">
                  </td>
                 
                  <td>                
                    <input type="email" id="email" autocomplete="off">  
                    </td>
                  <td>             
                    <input type="password" id="password"> 
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger" name="remove">DELETE ACCOUNT</button>  
                  </td>
            </table>
            <div class="add-acc">
              <button id="add-acc-btn" type="button">ADD MORE ACCOUNT</button>
              
            </div>
          
          </form>
     
        </section> 
        </main>
    </div>


    

    <!--BOOTSTRAP REFERENCE-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        const form = document.getElementById('reg-form')
        form.addEventListener('submit', registerUser)     

      async function registerUser(event) {
        event.preventDefault()
        const email = document.getElementById('email').value
        const password = document.getElementById('password').value
  
    let e = document.getElementById("type-options");
    let type = e.value;

        const result = await fetch('/adminAcctMgt', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            email,
            password,
            type
          })
        }).then((res) => res.json())
        if (result.status === 'ok') {
          alert('Account successfully created')
          location.reload()
        } else {
          alert(result.error)
        }
      }


    async function deleteUser(event) {
    const userId = event.target.id;
    console.log(userId)
  
    const confirmed = confirm('Are you sure you want to delete this account?');
    if (!confirmed) {
      return;
    }
    const result = await fetch(`/adminAcctMgt/${userId}`, {
      method: 'DELETE'
    }).then((res) => res.json());
    if (result.status === 'ok') {
      alert('User deleted successfully');
      location.reload();
    } else {
      alert(result.error);
    }
  }

  /* function parseJwt (token) { 
        var base64Url = token.split('.')[1];
        var base64 = decodeURIComponent(atob(base64Url).split('').map(function(c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
    }).join(''));

    return JSON.parse(base64);
} */


    </script>
</body>
</html>